.place__title {
  grid-area: title;
  padding: 0;
  margin: 0 16px 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media (min-width: 768px) {
  .place__title {
    margin: 0;
    font-size: 42px;
    line-height: 46px;
    white-space: pre-line;
    max-width: 330px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 440px;
  }
}
