.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0;
  margin: 64px 16px 0;
  row-gap: 12px;
}

@media (min-width: 768px) {
  .photo-grid {
    margin: 88px 24px 0;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    margin: 92px 48px 0;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    margin: 92px 48px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}
