.header {
  background-color: #2A2C2F;
  box-sizing:border-box;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
  margin: 16px 16px 0;
  width: calc(100% - 32px);
}


@media (min-width: 768px) {
  .header {
    margin: 28px 24px 0;
    width: calc(100% - 48px);
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 28px 48px 0;
    width: calc(100% - 96px);
  }
}
