.place__paragraph {
  margin: 0 16px 25px 16px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}


@media (min-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}
