.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  padding: 0;
  margin: 40px 0 34px;
  max-width: 288px;
}


@media (min-width: 540px) {
  .intro__text {
    max-width: 388px;
  }
}


@media (min-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}
