.lead__subtitle {
  padding: 0;
  margin: 16px 16px 40px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  white-space: pre-line;
}

@media (min-width: 768px) {
  .lead__subtitle {
    margin: 32px 64px 56px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 1024px) {
  .lead__subtitle {
    margin: 32px 192px 56px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px 320px 64px;
    font-size: 30px;
    line-height: 36px;
  }
}
