.cover {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 66px 0 0;
}

@media (min-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}


@media (min-width: 1280px) {
  .cover {
    margin: 92px 48px;
    width: calc(100% - 96px);
  }
}
